NEXT_PUBLIC_HOST_URL="http://localhost:3000"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="Your-key"
CLERK_SECRET_KEY="Your-key"

NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"

#Google Gemini
NEXT_PUBLIC_GOOGLE_GEMINI_API_KEY="Your-key"

# Drizzle Database Url (Postgres)
NEXT_PUBLIC_DRIZZLE_DATABASE_URL="Your-database-url"

#Firebase
NEXT_PUBLIC_FIREBASE_API_KEY="your-key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="your-auth-domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="project-id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="your-storage-bucket"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="your-sender-id"
NEXT_PUBLIC_FIREBASE_APP_ID="your-app-id"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="your-measurement-id"

# Youtube google console
NEXT_PUBLIC_YOUTUBE_API_KEY="your-youtube-api-key"